@import 'variables';

/* -- GENERAL -- */
html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Manrope', sans-serif;
    font-weight: 600;
    width: 100%;
	margin: 0;
	padding: 0;
    background: $veryPaleBlue url('../images/bg-pattern.svg') no-repeat;
    color: $grayishBlue;
}

/* -- MAIN CONTENT -- */
main {
    width: 100%;
    margin: 5.485rem auto;
    padding: 0 1.5rem;

    @media (min-width: 600px) {
        max-width: 33.75rem;
        margin: 6.5625rem auto;
        padding: 0;
    }
}

/* -- TITLE -- */
#head-titles {
    position: relative;
    text-align: center;
    margin-bottom: 4.125rem;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
    }

    h1 {
        font-size: 1.25rem;
        color: $darkDesaturatedBlue;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 0.81rem;
        font-weight: normal;
        margin: 0;
        line-height: 1.6;
    }

    @media (min-width: 600px) {
        margin-bottom: 5.625rem;

        h1 {
            font-size: 1.75rem;
        }
        h3 {
            font-size: 0.925rem;
        }
        div {
            display: inline;
        }
    }
}

/* -- PRICE BOX -- */
#white-box {
    background-color: $white;
    border: 0;
    border-radius: 0.625rem;
    box-shadow: 0 0 20px $lightGrayishBlue2;
}

.price-views {
    display: grid;
    grid-template-columns: auto;
    padding: 2.125rem 1.5625rem 1rem 1.5625rem;

    /* -- PAGEVIEWS -- */
    .views {
        font-size: 0.775rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.065rem;
        text-align: center;

        span {
            margin-right: 0.375rem;
        }
    }

    /* -- SLIDER -- */
    .slider-box {
        margin: 2rem 0;
    }

    #slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: linear-gradient(90deg, $softCyan 50%, $lightGrayishBlue1 50%);
        width: 100%;
        height: 0.5rem;
        margin: 0;
        padding: 0;
        border-radius: 0.25rem;
        cursor: grab;
        outline: none;
    }

    #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: $strongCyan url('../images/icon-slider.svg') no-repeat center;
        height: 2.5rem;
        width: 2.5rem;
        border: 0;
        border-radius: 50%;
        box-shadow: 0rem 0.9375rem 1.875rem -0.1875rem $strongCyan;
    }

    #slider::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        background: $strongCyan url('../images/icon-slider.svg') no-repeat center;
        height: 2.5rem;
        width: 2.5rem;
        border: 0;
        border-radius: 50%;
        box-shadow: 0rem 0.8rem 2rem -0.2rem $strongCyan;
    }

    #slider::-ms-thumb {
        -moz-appearance: none;
        appearance: none;
        background: $strongCyan url('../images/icon-slider.svg') no-repeat center;
        height: 2.5rem;
        width: 2.5rem;
        border: 0;
        border-radius: 50%;
        box-shadow: 0rem 0.8rem 2rem -0.2rem $strongCyan;
    }

    /* -- PRICE -- */
    .price {
        display: flex;
        justify-content: center;
        align-items: center;

        .price-details {
            font-size: 2rem;
            font-weight: 800;
            margin-right: 0.625rem;
            color: $darkDesaturatedBlue;
        }

        .per-month {
            font-size: 0.875rem;
        }
    }

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, auto);
        align-items: center;
        margin: 2.525rem 2.925rem 0;

        .views {
            grid-column: 1 / 2;
            grid-row: 1;
            font-size: 15px;
            text-align: left;
        }
        .slider-box {
            grid-column: 1 / 3;
            grid-row: 2;
        }
        .price {
            grid-column: 2 / 3;
            grid-row: 1;
            justify-content: right;

            .price-details {
                font-size: 2.3rem;
            }
            .per-month {
                font-size: 1rem;
            }
        }
    }
}

/* -- DISCOUNT OPTION -- */
.discount-toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.625rem;
    padding: 0 2.5625rem 1.875rem 1.5625rem;
    border-bottom: 1px solid $lightGrayishBlue1;

    p {
        font-size: 0.75rem;
    }

    /* -- TOGGLE -- */
    .toggle-button {
        position: relative;
        display: inline-block;
        width: 2.625rem;
        height: 1.375rem;
        margin: 0 0.8rem;
    }
      
    .toggle-button input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .toggle {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0.6875rem;
        background-color: $lightGrayishBlue2;
        transition: .4s;
    }

    .toggle:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1rem;
        left: 0.1875rem;
        bottom: 0.1875rem;
        border-radius: 50%;
        background-color: $white;
        transition: .4s;
    }
      
    input:checked + .toggle {
        background-color: $strongCyan;
    }
      
    input:checked + .toggle:before {
        transform: translateX(1.25rem);
    }

    /* -- -25% DISCOUNT TEXT -- */
    .discount-text {
        position: relative;
    }

    .discount-text::after {
        position: absolute;
        content: "-25%";
        background-color: $lightGrayishRed;
        top: 0;
        left: 4.875rem;
        font-size: 0.625rem;
        margin-right: -1.8rem;
        padding: 0.125rem 0.5rem;
        border-radius: 0.625rem;
        color: $lightRed;
    }

    @media (min-width: 600px) {
        margin: 0.5625rem 0;
        padding: 0 1.5625rem 2rem 1.5625rem;

        .toggle-button {
            margin: 0 1rem;
        }

        .discount-text::after {
            content: "-25%\00a0 discount";
            display: block;
        }
    }
}

/* -- ADVANTAGES & BUTTON -- */
.footer {
    padding: 1.5rem 1.5625rem 1rem;

    ul {
        list-style: none;
        margin: 0;
        padding-left: 1.1875rem;
    }

    li {
        position: relative;
        font-size: 0.75rem;
        margin: 0.625rem 0;
        text-align: center;
    }

    li::before {
        position: absolute;
        content: url('../images/icon-check.svg');
        margin-left: -1.5rem;
    }

    .trial-button {
        margin: 2rem 0;
        text-align: center;

        a, a:link, a:visited {
            display: inline-block;
            font-size: 0.8rem;
            background-color: $darkDesaturatedBlue;
            text-decoration: none;
            padding: 0.75rem 2.875rem;
            border-radius: 1.375rem;
            color: $lightGrayishBlue2;
            transition: color 0.4s;
        }

        a:hover {
            color: $white;
        }
    }

    @media (min-width: 600px) {
        display: flex;
        align-items: center;
        margin: 1rem 2.6rem;

        ul {
            padding-left: 1.85rem;
        }

        li {
            text-align: left;
        }

        .trial-button {
            flex: 1;
            text-align: right;
        }
    }
}